* { font-size: 14px; }
body { padding-top: 10px; }
main { display: none; }
.result .nav { margin-top: 5px; }
#result { margin-top: 5px; }
a { cursor: pointer; }
button.waiting {
    background-color: #212529!important;
    color: #fff!important;
}
button.process { background-color: #ffc107!important; }